* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-height: 100vh;
}

#main-container {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    height: auto;
}

#top {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color:#F9faf8;
    flex: 1 1 auto;
    overflow: hidden;
}

#home{
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: black;
    color:#F9faf8
}

#home a {
    padding: 8px;
    margin: 0;
    font-size: xx-large;
    letter-spacing: 3px;
    text-decoration: none;
}

#imgDiv {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}


#bottom {
    width: 55%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    color: #F9faf8;
    background-color: #1f2937;
}

.form-header {
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    position: relative;
    margin: 0;
    flex: 1 1 auto;
}

form > [class^="signup-form"] {
    position: relative;
    min-height: 1px;
    width: 100%;
    max-width: 100%;
}

button, input {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}


input {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding: 24px 10px 12px;
    font-size: 16px;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
    width: 480px;
    color: #FFF;
    margin: 8px;
}
:focus {
    outline: 0;
}

input:focus {
    background-color: #fff;
}


#signupform label {
    padding: 5px 0;
    font-size: 14px;
    font-size: 0.75rem;
    top: 10px;
    left: 18px;
    color: #8BC34A;
    animation: silo-fade 0.2s;
    max-width: 80%;
    display: none;
    position: absolute;
}

a {
    color:#ff3b3b;
}

p {
    font-size: 14px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: #000;
    color: #fff;
    font-size: small ;
}

@media (max-width: 600px)
{
    #container {
        max-height: none;
    }
    #main-container {
        flex-direction: column;
    }
    #top, #bottom {
        width: 100%;
    }
    #top {
        height: 250px;
        overflow: hidden;
    }
    img {
        position: relative;
        top: -50px;
        width: 350px;
        align-self: center;
    }
}

@keyframes silo-fade {
    0% {
        opacity: 0;
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#signupform input:focus + label,
#signupform input[required]:valid + label,
#signupform input:not(:placeholder-shown) + label {
    display: block;
}

input:invalid {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

input:focus:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

#signupform input:invalid + label {
    color: #b92326;
}


input:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

input:focus:valid {
    border: 1px solid #8BC34A;
    background-color: transparent;
}

input:valid + label {
    color: #8BC34A;
}

input:placeholder-shown {
    background-color: transparent;
    border: 1px solid #d8d8d8;
}

input::placeholder {
    color: #d8d8d8;
}

input:focus::placeholder {
    color: transparent;
}

button {
    background-color: transparent;
    border: 1px solid #8BC34A;
    color: #8BC34A;
    padding: 5px 15px;
    font-size: 16px;
    font-size: 1rem;
    margin: 15px auto;
    display: block;
    cursor: pointer;
    padding: 10px;
    margin: 10px 20% 10px;
}

button:hover {
    background-color: rgba(139, 195, 74, 0.25);
    border: 1px solid #8BC34A;
}